footer{
    padding: 1rem 0;
    background-color: #323b45;
    
}
.footer-brand{
    font-family: 'Fredoka One', sans-serif;
    
}

.footer-brand a{
    text-decoration: none;
    color: #FF6148;
    
    font-size: 28px;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px !important;
    margin: 0;
    padding-left: 0 !important;
}

.list-item a{
    color: #FF6148;
}